.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    margin-top: 94px;
    margin-bottom: 50px;

    color: $mainTextColor;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.section__section-title {
    margin-top: 0;
}

.section__container {
    margin-bottom: 50px;
}