.page-header {
    background-color: $whiteExtraColor;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-header__nav {
    display: flex;
    align-items: center;
}